{% extends "base.html" %}

{% block title %}Mudar senha{% endblock title %}

{% block content %}
    <div class="change-password-container">
        <h2>Alterar Senha</h2>
        <form class="change-password-form" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_password">Nova Senha:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <button type="submit">Alterar Senha</button>
            </div>
        </form>
    </div>

{% endblock content %}