{% extends 'base.html' %}

{% block title %}Amigos e Solicitações{% endblock %}

{% block content %}
    <h1>Usuário: {{ username }} <a href='/logout'>Sair</a></h1>
    {% for message in messages %}
        <h3> {{message}} </h3>
    {% endfor %}

    <h2>Amigos <a href="request_friendship">+</a></h2>

    {% if amigos %}
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Início da amizade</th>
            </tr>
        </thead>
        <tbody>
            {% for amizade in amigos %}
                <tr>
                {% if amizade.sender.username == username %}
                        <td>{{ amizade.receiver.username }}</td>
                        <td>{{ amizade.receiver.email }}</td>
                {% else %}
                        <td>{{ amizade.sender.username }}</td>
                        <td>{{ amizade.sender.email }}</td>
                {% endif %}
                        <td>{{ amizade.date }}</td>
                        <td class="btn-group">
                            <a href="chat/{{ amizade.id }}"><button>Chat</button></a>
                            <a href="answer_friendship/{{ amizade.id }}/r"><button>Excluir</button></a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Você ainda não tem amigos </p>
    {% endif %}

    <h2>Solicitações Enviadas</h2>
    {% if enviadas %}
    <table>
        <thead>
            <tr>
                <th>Para</th>
                <th>Email</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitacao in enviadas%}
            <tr>
                <td>{{ solicitacao.receiver.username }}</td>
                <td>{{ solicitacao.receiver.email }}</td>
                <td>{{ solicitacao.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Você ainda não enviou solicitações de amizade </p>
    {% endif %}

    <h2>Solicitações Recebidas</h2>
    {% if recebidas %}
    <table>
        <thead>
            <tr>
                <th>De quem</th>
                <th>Email</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitacao in recebidas%}
            <tr>
                <td>{{ solicitacao.sender.username }}</td>
                <td>{{ solicitacao.sender.email }}</td>
                <td>{{ solicitacao.date }}</td>
                <td class="btn-group">
                    <a href="answer_friendship/{{ solicitacao.id }}/a"><button>Aceitar</button></a>
                    <a href="answer_friendship/{{ solicitacao.id }}/r"><button>Recusar</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Você ainda não recebeu solicitações de amizade </p>
    {% endif %}
{% endblock %}