{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div id="m">
        {% for message in messages %}
            {% if message.sender.username == username %}
                <strong>{{ username }}</strong>: {{ message.text }} <sub>{{ message.date |date:"d/m/Y H:m" }}</sub> <br>
            {% elif message.receiver.username == username %}
            <sub>{{ message.date |date:"d/m/Y H:m" }}</sub> <strong>{{ message.sender.username }}</strong>: {{ message.text }}  <br>
            {% endif %}
        {% endfor %}
    </div>
    <input id="message" type="text">
    <input type="submit" onclick="sendMessage();" value="Enviar">

<script>
    const text = document.getElementById('m');
    const message = document.getElementById("message");
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + "{{ friendship.sender }}_{{ friendship.receiver }}/");

    message.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            sendMessage();
        }
    });

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['message'];
        const username = data['username'];
        const date = data['date'];
        // Handle incoming message
        if (username === '{{ username }}') {
            text.innerHTML += '<strong>{{ username }}</strong>: ' + message + ' <sub>' + date + '</sub> <br>'
        } else {
            text.innerHTML += '<sub>' + date + '</sub> <strong>' + username + '</strong>: ' + message + ' <br>'
        }
    };

    chatSocket.onopen = function(e) {
        console.log('WebSocket connection established.');
    };

    chatSocket.onerror = function(e) {
        console.error('WebSocket error:', e);
    };

    chatSocket.onclose = function(e) {
        console.error('WebSocket connection closed unexpectedly', e);
    };

    // Send message to server
    function sendMessage() {
        if (message.value === '') {
            return 0;
        }
        if (chatSocket.readyState === WebSocket.OPEN) {
            chatSocket.send(JSON.stringify({
                'username': '{{ username }}',
                'message': message.value,
            }));
            message.value = "";
        } else {
            console.error('WebSocket connection is not open.');
        }
    }
</script>

{% endblock %}
